<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Virtual</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap.min.js">

    <link rel="stylesheet" href="/menu.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</head>

<body>

    <!-- Barra -->
    <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
        <div class="bg-dark p-4">
            <h5 class="text-body-emphasis h4">Variedades MISII 2024</h5>
            <span class="text-body-secondary">Todo lo que Busques en un solo sitio</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- Seccion Central -->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Catalogo de Productos </h1>
                <p class="lead text-body-secondary">Para brindar una mejor experiencia en la navegacion de la web,
                    puedes filtrar los productos por categoria</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Seleccionar categoria</a>
                </p>
            </div>
        </div>
    </section>

    <!-- Cards -->


    <div class="album py-5 bg-body-tertiary" id="container1">
        <div class="container" id="container2">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="container3">

             
            </div>
        </div>
    </div>




</body>

<script src="/Peticiones.js"> </script>

</html>